<!DOCTYPE html>
<html>
  <head>
    <script src='/assets/application.js'></script>
    <link type='text/css' rel='stylesheet' href='/assets/application.css' media='screen'/>
  </head>
  <body></body>
</html>